/home/kazzastic/Desktop/CV/Deep Learning/data/
/home/kazzastic/Desktop/CV/Deep Learning/data_aug/
/home/kazzastic/Desktop/CV/Deep Learning/logs/
/home/kazzastic/Desktop/CV/Deep Learning/MNIST_data/
/home/kazzastic/Desktop/CV/Deep Learning/NIC/
/home/kazzastic/Desktop/CV/Deep Learning/nic_dataset/
/home/kazzastic/Desktop/CV/Deep Learning/models
/home/kazzastic/Desktop/CV/Deep Learning/non-nic_dataset/
/home/kazzastic/Desktop/CV/Deep Learning/NON-NIC
/home/kazzastic/Desktop/CV/Deep Learning/aug
/home/kazzastic/Desktop/CV/Deep Learning/keras_model.h5
/home/kazzastic/Desktop/CV/Deep Learning/NIC-CNN1 (1).model
/home/kazzastic/Desktop/CV/Deep Learning/X.pickle
/home/kazzastic/Desktop/CV/Deep Learning/y.pickle
/home/kazzastic/Desktop/CV/Deep Learning/X1.pickle
/home/kazzastic/Desktop/CV/Deep Learning/y1.pickle
